* {
	margin: 0;
	padding: 0;
}


header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #86EAEA;
	top:0;
}

header, .tableInfo {
	position: fixed;
	width: 100%;
}

.private{
	color: gray
}

.private[data-status='on'] {
	color: green;
}

.logo {
	margin: 15px;
}

.logo img {
	width: 200px;
}


.tableInfo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #35DED4;
	padding: 15px 0;
	font-size: 32px;
	color: white;
	top:75px;
	cursor: pointer;
}

.tableInfo .afa {
	position: absolute;
	left: 3%;
	top: 15px;
	cursor: default;
	color: white;
}

main {
	margin-top: 12%;
	margin-left: 1%;
}


.tables {
	display: flex;
	cursor: pointer;
	width: 100%;
	height: 100%;
}


.wrapper {
	display: inline-block;
}

.table {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	background-color: #DDFFFD;
	max-height: 500px;
	min-width: 200px;
	text-align: center;
	margin-right:50px;
	overflow: hidden;
	border: 3px blue solid;
}

.table .tableName {
	width: 75%;
	background-color: #AEFAFF;
	font-size: 24px;
	padding: 15px; 
}

.table .tasks {
	display: flex;
	flex-direction: column;
	max-height: 200px;
	overflow-y: scroll;
}

.table  .tasks, .table .btnAddTask {
	width: 80%;
}

.table .task, .table .btnAddTask {
	background-color: #ABFFCD;
	font-size: 18px;
	margin: 5px; 
	padding: 5px;
	border-radius: 15px;
}

.table .btnAddTask {
	font-weight: bold;
}

.btnAddTable {
	background-color: #DDFFFD;
	text-align: center;
	height: 30px;
	font-size: 24px;
	padding: 15px;
	border: 3px blue solid; 
	font-weight: bold;
	border-radius: 15px;
	min-width: max-content;
}