* {
	margin: 0;
	padding: 0;
}

.background img{
	position: fixed;
	width: 400px;
	bottom: 0;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

.regForm {
	text-align: center;
	font-family: 'Mate SC';
	width: 400px;
	margin: 10% auto 0;
	color: gray;
}

h1, .input, .signUpBtn {
	margin: 15px;
}

.input {
	border : 2px gray solid;
	border-radius: 5px;
	padding: 5px;
}

input {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	font-size: 16px;
}

.signUpBtn a {
	color: white;
}

.signUpBtn {
	background-color: #44f2ff;
	margin: 15px auto;
	width: 200px;
	font-size: 32px;
	color: white;
	padding: 10px;
	border-radius: 15px;
}

.signUpBtn:hover {
	background-color: #34a2df;
}
/*
.input input:valid ~ .signUpB{
	background-color: #34a2df;
	cursor: pointer;
}
*/

