* {
	margin: 0;
	padding: 0;
}

.page {
	display: flex;
	flex-direction: column;
}

.btnStartWork, .btnSignUp {
	height: 50px;
	border-radius: 15px;
	margin: 15px;
	padding: 5px 10px;
}

a, .intro .leftPart{
	text-decoration: none;
	font-family: 'Nova Slim';
	font-size: 32px;
	color: white;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #86EAEA;
}

.logo {
	margin: 15px;
}

.btnStartWork {
	background-color: yellow;
}

.btnStartWork a {
	color: black;
}


.intro {
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: #43BF99;
	padding: 50px;
}

.leftPart {
	color: white;
	align-self: center;
}

.signUpForm {
	display: flex;
	justify-content: space-between;
	margin: 100px;
}

.btnSignUp {
	background-color: #00D151;
}

.signUpForm input {
	font-size: 18px;
	width: 250px;
	height: 35px;
	margin: auto 0;
}

.btnSignUp {
	height: 35px;
}

.rightPart .image img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 500px;

}

.mainSection {
	margin: 25px;
	display: flex;
	flex-direction: column;
	font-family: 'Mate SC';
	font-size: 32px;
}

.card {
	display: flex;
	justify-content: space-between;
	margin: 50px;
}

.card .text {
	text-align: center;
	padding: 0 100px 100px;
}
.card img {
	width: 500px;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}

.copyRight {
	padding: 25px;
	font-size: 32px;
}



