* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #86EAEA;
}

.logo {
	margin: 15px;
}

.tableInfo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #35DED4;

	font-size: 32px;
}


.tables {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 50px; 
}

.table {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #DDFFFD;
	min-height: 200px;
	min-width: 200px;
	text-align: center;
	overflow: hidden;

	border: 3px blue solid;
}

.table .tableName {
	width: 100%;
	background-color: #AEFAFF;
	font-size: 24px;
	padding: 15px; 
}

.table .task, .table .btnAddTask {
	width: 80%;
	background-color: #ABFFCD;
	font-size: 18px;
	margin: 5px; 
}

.table .btnAddTask {
	font-weight: bold;
}

.tables .btnAddTable {
	background-color: #DDFFFD;
	text-align: center;
	height: 30px;
	font-size: 24px;
	padding: 15px;
	border: 3px blue solid; 
	font-weight: bold;
}