* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #86EAEA;
}

.logo {
	margin: 15px;
}

.logo img {
	width: 200px;
}


.tableInfo {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #35DED4;
	padding: 15px 0;
	font-size: 32px;
	color: white;
}

.tableInfo .fa {
	position: absolute;
	left: 3%;
	top: 20px;
	cursor: default;
	color: white;
}


.layout, .tables {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 50px; 
	
}

.table {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	background-color: #DDFFFD;
	min-height: 200px;
	min-width: 200px;
	text-align: center;
	overflow: hidden;

	border: 3px blue solid;
}

.table .tableName {
	width: 100%;
	background-color: #AEFAFF;
	font-size: 24px;
	padding: 15px; 
}



.table  .tasks, .table .btnAddTask {
	width: 80%;
}

.table .task, .table .btnAddTask {
	background-color: #ABFFCD;
	font-size: 18px;
	margin: 5px; 
	padding: 5px;
	border-radius: 15px;
}

.table .btnAddTask {
	font-weight: bold;
}

.layout .btnAddTable {
	background-color: #DDFFFD;
	text-align: center;
	height: 30px;
	font-size: 24px;
	padding: 15px;
	border: 3px blue solid; 
	font-weight: bold;

	border-radius: 15px;
}