<main>
    <div class="leftPart menu">
        <div class="item">
            <h1><a href="home?page=Personal Tables">Tables</a></h1>
        </div>
        <div class="item">
            <h1> <a href="to-doList">To-Do List</a></h1>
        </div>
        <div class="item">
            <h1><a href="home?page=Favorite">Favorite</a></h1>
        </div>
    </div>
    <div class="rightPart">
        <div class="info">
            <img src="/file/img/person.svg">
            <h1>{{page}}</h1>
        </div>
        <div class="tables">
            {{#each tables}}
                <form action="elementPage?table={{this}}" method="POST">
                    <div class="table"><button type="submit">{{this}}</button></div>
                </form>
            {{/each}}
            <div class="btnAddTable"><a href="create"> + Create</a></div>
        </div>
    </div>
</main>