<form action="/login/auth" method="POST" class="regForm">
    <h1>Log in for your account</h1>
    <div class="input">
        <input id="email" type="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="input">
        <input id="password" type="password" placeholder="Create password" name="password" required>
    </div>
    <div class="error" data-error="{{status}}">Login or password are incorrect</div>
    <div class="signUpBtn" data-color="gray"><button>Log in</button></div>
    <hr>
</form>
<div class="background">
    <img id="left" src="/file/img/hero.gif">
    <img id="right" src="/file/img/edu.gif">
</div>