<div class="page">
    <div class="taskAddPart">
        <div class="item title">Add task</div>
        <div class="wrap">
            <div class="item input">
                <input type="text" id="newTask">
                <button id="btnNewTask">Add</button>
                <button><a href="listPage">Back</a></button>
            </div>
        </div>
    </div>
    <div class="taskPart">
        <div class="item title">Tasks:</div>
        <div class="tasks"></div>
    </div>
</div>