* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #01c5c4;
}

.logo {
	margin: 15px;
}

.logo img {
	width: 200px;
}

main .wrapCenter {
	display: flex;
	justify-content: center;
	margin: 5px 50px;
	font-family: 'Grandstander', cursive;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: #01c5c4;
	border-radius: 15px;
	color: #006884;
}


.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px;
}

.card {
	background-color: #b8de6f;
	border-radius: 15px;
	margin: 15px;
	padding: 15px;
}

.tableName, .btnAddTable {
	background-color: #f1e189;
	padding: 10px;
	margin: 5px;
	border: 3px #f39233 solid;
	border-radius: 15px;
}

.btnAddTable {
	text-align: center;
}

.nameInput {
	background-color: white;
	margin-left: 20px;
	border-radius: 10px;
	padding: 5px;
}

input {
	font-size: 18px;
	height: 35px;
	border : none;
}

.btnCreate {
	background-color: green;
	padding: 15px;
	border-radius: 15px;
}

.btnCreate a{
	text-decoration: none;
	color: white;
}

.checkbox {
	background-color: white;
	width: 25px;
	height: 25px;
}