* {
	margin: 0;
	padding: 0;
}

.page {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #86EAEA;
}

.logo {
	margin: 15px;
}



footer {
	background-color: black;
	color: white;
	text-align: center;
	margin-top: auto;
}

.copyRight {
	padding: 25px;
	font-size: 32px;
}



